*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}



header{
    text-align: center;
    padding: 20px;
}

.header-links{
    padding: 10px 7px;
    font-size: 0.9rem;
}


.header-left{
    float: left;
    margin-left: 15px;
    margin-top: 8px
}

.header-right{
    float: right;
}

.clear{
    clear:both;
}

nav a{
    text-decoration: none;
    margin-left: 10px;
}

nav a:hover{
    text-decoration: underline;
}

.app-icon{
    opacity: 0.6;
    vertical-align: middle;
}

.app-icon:hover{
    opacity: 1;
}

.sign-in-button{
    padding: 10px 15px;
    background-color: #4284f4;
    color: white;
    border:none;
    border-radius: 4px;
}

.sign-in-button:hover{
    box-shadow: 0 0 2px #4285f4;
    cursor: pointer;
}

.app-icon{
    width: 30px;
    height: 30px;
}

.google-logo{
    display: block;
    margin: 100px auto 0;
    width: 25%;
    height: 20%;
}

.mag{
    width: 30px;
    position: absolute;
    left: 8px;
    top: 6px;
    }

.mic{
    width: 15px;
    position: absolute;
    right: 20px;
    top: 8px;
}

.search-bar{
    margin: 10px auto;
    text-align: center;
    width: 580px;
    border-radius: 40px;
    height: 44px;
    border: 1px solid gray;
    position: relative;
}

.search{
    width: 450px;
    height: 34px;
    margin-bottom: 10px;
    position: absolute;
    top: 5px;
    right: 85px;
    border:none;
    font-size: 1.5rem;
    
}

.search:focus{
    outline: none;
}
/* 
.search-bar input{
    width: 500px;
    height: 35px;

} */



.btn-container{
    text-align: center;
}

.btn-container button{
    border: none;
    padding: 12px 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: gray;
    border-radius: 6x;
}

.btn-container button:hover{
    color: black;
    border: 1px solid #d3d3d3;
    box-shadow: 0.7px 0.7px 0 gray;
    cursor: pointer;
}

.lang{
    text-align: center;
    margin-top: 10px;
}


.long p{
    font-size: 0.8rem;
}

.lang a{
    color: navy;
}

.lang a:hover{
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    padding: 10px;
    line-height: 40px;
    font-size: 0.8rem;
}

.country{
    border-bottom: 1px solid #e4e4e4;
    margin: 0 20px;
    font-size: 0.9rem;
    color: #5f6368;
}

.footer-left{
    float:left;
}

.footer-right{
    float: right;
}

nav a{
    color: #5f6368;
}